.block {
  position: absolute;
  height: 52px;
  background-image: url('@/assets/blocks_white_yellow_red_blue_black_1-2-3-4-6.png');
}

.white1 {
  width: 37px;
  background-position: 0px 0;
}

.yellow1 {
  width: 37px;
  background-position: -37px 0;
}

.red1 {
  width: 37px;
  background-position: -74px 0;
}

.blue1 {
  width: 37px;
  background-position: -111px 0;
}

.black1 {
  width: 37px;
  background-position: -148px 0;
}

.white2 {
  width: 74px;
  background-position: -185px 0;
}

.yellow2 {
  width: 74px;
  background-position: -259px 0;
}

.red2 {
  width: 74px;
  background-position: -333px 0;
}

.blue2 {
  width: 74px;
  background-position: -407px 0;
}

.black2 {
  width: 74px;
  background-position: -481px 0;
}

.white3 {
  width: 111px;
  background-position: -555px 0;
}

.yellow3 {
  width: 111px;
  background-position: -666px 0;
}

.red3 {
  width: 111px;
  background-position: -777px 0;
}

.blue3 {
  width: 111px;
  background-position: -888px 0;
}

.black3 {
  width: 111px;
  background-position: -999px 0;
}

.white4 {
  width: 148px;
  background-position: -1110px 0;
}

.yellow4 {
  width: 148px;
  background-position: -1258px 0;
}

.red4 {
  width: 148px;
  background-position: -1406px 0;
}

.blue4 {
  width: 148px;
  background-position: -1554px 0;
}

.black4 {
  width: 148px;
  background-position: -1702px 0;
}

.white5 {
  width: 185px;
  background-position: -1850px 0;
}

.yellow5 {
  width: 185px;
  background-position: -2035px 0;
}

.red5 {
  width: 185px;
  background-position: -2220px 0;
}

.blue5 {
  width: 185px;
  background-position: -2405px 0;
}

.black5 {
  width: 185px;
  background-position: -2590px 0;
}

.white6 {
  width: 222px;
  background-position: -2775px 0;
}

.yellow6 {
  width: 222px;
  background-position: -2997px 0;
}

.red6 {
  width: 222px;
  background-position: -3219px 0;
}

.blue6 {
  width: 222px;
  background-position: -3441px 0;
}

.black6 {
  width: 222px;
  background-position: -3663px 0;
}
