@font-face {
  font-family: 'BigNoodleTitling';
  font-weight: bold;
  font-style: normal;
  src: url('/fonts/BigNoodleTitling.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/Roboto-Regular.ttf');
}
