@import '_fonts.scss';
@import '_blocks.scss';

/** Variables */
$desktop-breakpoint: 769px;
/** End variables */

/** Global */
html,
body {
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  @media screen {
    background: url('@/assets/pattern.png');
  }

  display: flex;
  flex-direction: row;
  color: #111;
  font-size: 14px;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  text-align: left;
  overflow: visible;

  @media (max-width: $desktop-breakpoint) {
    font-size: 12px;
  }
}

section {
  margin: 1.8rem 0;

  @media (max-width: $desktop-breakpoint) {
    margin: 1.4rem 0;
  }
}

/** End global */

/** Headings */
h1,
h2,
h3,
h4,
h5 {
  font-family: 'BigNoodleTitling', sans-serif;
  color: #333;
  font-weight: bold;

  &.light {
  }
}

h1 {
  font-size: 3rem;
  margin: 0.2rem 0;

  @media (max-width: $desktop-breakpoint) {
    font-size: 2.1rem;
    margin: 0.1rem 0;
  }
}

h2 {
  font-size: 2.2rem;
  margin: 0.2rem 0;
  color: #666;

  @media (max-width: $desktop-breakpoint) {
    font-size: 1.7rem;
    margin: 0.1rem 0;
  }
}

h3 {
  height: 2rem;
  font-size: 1.8rem;

  @media (max-width: $desktop-breakpoint) {
    font-size: 1.5rem;
  }
  margin: 0.2rem 0;

  &.title-yellow {
    &:before {
      display: inline-block;
      content: '';
      width: 37px;
      height: 100%;
      margin-right: 1rem;
      background: url('@/assets/block2yellow.png') bottom center no-repeat;
    }
  }

  &.title-red {
    &:before {
      display: inline-block;
      content: '';
      width: 37px;
      height: 100%;
      margin-right: 1rem;
      background: url('@/assets/block2red.png') bottom center no-repeat;
    }
  }

  &.title-blue {
    &:before {
      display: inline-block;
      content: '';
      width: 37px;
      height: 100%;
      margin-right: 1rem;
      background: url('@/assets/block2blue.png') bottom center no-repeat;
    }
  }

  &.title-black {
    &:before {
      display: inline-block;
      content: '';
      width: 37px;
      height: 100%;
      margin-right: 1rem;
      background: url('@/assets/block2black.png') bottom center no-repeat;
    }
  }
}

h4 {
  font-size: 1.5rem;
  margin: 0.1rem 0;
  color: #666;

  @media (max-width: $desktop-breakpoint) {
    font-size: 1.4rem;
  }
}

h5 {
  font-size: 1.2rem;
  margin: 0.2rem 0;
  color: #666;

  @media (max-width: $desktop-breakpoint) {
    font-size: 1.1rem;
  }
}

/** End headings */

/** Flex */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/** End flex */

/** Menu */
aside {
  @media print {
    display: none;
  }

  @media screen {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: fixed;
    height: 50px;
    bottom: 0;
    padding: 0 50px;

    .block {
      position: initial;
    }

    a {
      display: inline-block;
      border: 0;
      text-decoration: none;
      font: 26px 'BigNoodleTitling';
      color: #eee;
      text-align: center;
      line-height: 60px;
    }
  }

  @media (max-width: $desktop-breakpoint) {
    width: 100%;
    left: 0;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 1100px;
    left: calc(0.7 * (100% - 1100px));
  }
}

/** End menu */

/** Page layout */
.page-outer {
  position: relative;

  display: flex;
  flex-direction: column;

  @media screen {
    height: calc(100vh - 75px);
    margin-bottom: 75px;
  }

  @media print {
    margin: 0 auto;
  }

  overflow-y: hidden;

  header,
  #content {
    @media (min-width: $desktop-breakpoint) {
      width: calc(100% - 100px);
    }

    @media (max-width: $desktop-breakpoint), print {
      width: calc(100% - 30px);
    }
  }

  header {
    @media (min-width: $desktop-breakpoint) {
      padding: 25px 50px 0 50px;
    }

    @media (max-width: $desktop-breakpoint), print {
      padding: 25px 15px 5px 15px;
    }

    margin: 0;

    * {
      margin: 0;
    }

    .social {
      @media print {
        display: none;
      }

      @media (max-width: $desktop-breakpoint) {
        padding-top: 1.5rem;
      }

      text-align: right;
      align-items: flex-start;

      a {
        display: inline-block;
        height: 40px;
        width: 40px;
        margin: 0 2px;
        text-decoration: none;
        line-height: 40px;
        color: #333;
        background-position: top center;
        background-repeat: no-repeat;

        &:hover {
          color: #555;
          background-position-y: bottom;
        }

        &.padded {
          svg {
            width: 30px;
            height: 30px;
            padding: 5px 2px 5px 3px;
          }
        }

        svg {
          width: 36px;
          height: 36px;
          padding: 2px;
          fill: #666;

          &:hover {
            fill: #333;
          }
        }
      }
    }

    .name {
      border-bottom: #333 solid 8px;
    }
  }

  #content {
    @media (min-width: $desktop-breakpoint) {
      padding: 0 50px;
    }

    @media (max-width: $desktop-breakpoint), print {
      padding: 0 15px;
    }
  }

  .page-inner {
    overflow-y: scroll;
  }

  p {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    text-align: justify;
  }

  ul {
    display: inline-block;
    margin: 10px 0;
    padding: 0 0 0 30px;
    list-style-position: outside;
  }

  a {
    color: #074987;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/** End page layout */

/** Wall */
.wall {
  @media (max-width: $desktop-breakpoint), print {
    display: none;
  }

  &.wall-left {
    width: calc(0.7 * (100% - 1100px));
  }

  &.wall-right {
    width: calc(0.3 * (100% - 1100px));
  }

  position: relative;
  height: 100vh;
  overflow: hidden;

  .blocks {
    width: 100%;
    height: 100%;
    position: fixed;

    a {
      display: inline-block;
      border: 0;
      text-decoration: none;
      font: 26px 'BigNoodleTitling';
      color: #eee;
      text-align: center;
      line-height: 60px;
    }
  }
}

/** End wall */

/** Skills */
.skill-badges {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-flow: wrap;
  gap: 5px;

  &.skill-badges-mini {
    margin-top: 10px;

    span.skill-badge {
      padding: 3px 7px;
      margin: auto 0;
      border-radius: 10px;
      background-color: rgba(#ddd, 1);
      font-size: 0.8rem;

      @media print {
        background-color: rgba(#eee, 1);
      }

      &:before {
        height: 7px;
      }

      &.skill-padawan:before {
        width: 5px;
      }

      &.skill-comfy:before {
        width: 25px;
      }

      &.skill-secure:before {
        width: 45px;
      }

      &.skill-master:before {
        width: 65px;
      }
    }
  }

  &.skill-badges-right {
    justify-content: flex-end;
  }

  span.skill-badge {
    padding: 5px 10px;
    margin: auto 2px;
    border-radius: 15px;
    background-color: rgba(#ddd, 1);
    @media (max-width: $desktop-breakpoint) {
      font-size: 0.7rem;
      line-height: 1rem;
    }
    font-size: 0.8rem;

    @media print {
      background-color: rgba(#eee, 1);
    }

    &:before {
      content: '';
      display: inline-block;
      height: 10px;
      vertical-align: bottom;
      margin: 5px 5px 5px 0;
      border-radius: 5px;
    }

    &.skill-blue:before {
      background-color: #074987;
    }

    &.skill-yellow:before {
      background-color: #f2a60c;
    }

    &.skill-red:before {
      background-color: #c71414;
    }

    &.skill-white:before {
      background-color: #fffcfc;
    }

    &.skill-black:before {
      background-color: #0a0a0a;
    }

    &.skill-padawan:before {
      width: 10px;
    }

    &.skill-comfy:before {
      width: 25px;
    }

    &.skill-secure:before {
      width: 40px;
    }

    &.skill-master:before {
      width: 55px;
    }

    &:hover {
      /* TODO re-enable as soon as techno filter is on
      background-color: rgba(#ccc, 1);
      */
    }
  }
}

/** End skills */

/** Jobs */
.job {
  @media (max-width: $desktop-breakpoint) {
    display: flex;
    flex-direction: column;
    margin: 1.4rem 0;

    .job-description {
      p {
        margin: 0.05rem 0;
      }
    }
  }

  @media (min-width: $desktop-breakpoint) {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: flex-start;

    &.job-reversed {
      .job-summary {
        text-align: left;
        order: 2;
      }

      .job-description {
        order: 1;
        border-right: 1px solid #999;
        border-left: 0;

        .skill-badges {
          justify-content: flex-end;
        }

        p {
          text-align: right;
        }
      }
    }

    .job-description {
      display: flex;
      flex-direction: column;
      width: calc(75% - 50px);
      border-left: 1px solid #999;
      border-right: 0;
      padding: 10px 25px;

      p {
        text-align: left;
      }
    }

    .job-summary {
      width: calc(25% - 40px);
      padding: 20px;
      text-align: right;
    }
  }
}

/** End jobs */
