@import "_fonts.scss";


@media print {
  html {
    width: 980px;
    padding: 20px 0;
    margin: 0 auto;
  }

  body {
    color: #111;
    font: 1.1em 'Trebuchet MS';
    text-align: left;
    overflow: visible;
  }

  body h1, h2, h3, h4, h5 {
    font-family: 'BigNoodleTitling', sans-serif;
  }

  #master {
    width: 100%;
  }

  #blocks {
    display: none;
  }

  #content {
    width: 100%;
  }

  #content h4 {
    display: inline-block;
    width: 100%;
    color: #333;
    font-size: 28px;
    margin: 15px 0 0 0;
    padding: 0;
  }

  #content h5 {
    display: inline-block;
    width: 100%;
    color: #333;
    font-size: 22px;
    margin: 0;
    padding: 0;
  }

  #content p {
    display: inline-block;
    margin: 10px 0;
  }

  #content a {
    color: #074987;
    text-decoration: none;
  }

  #content a:hover {
    text-decoration: underline;
  }

  #content ul {
    display: inline-block;
    margin: 2px 0;
    padding: 0 0 0 30px;
    list-style-position: outside;
  }

  #header {
    margin: 0;
  }

  #header * {
    margin: 0;
  }

  #name {
    border-bottom: #333 solid 8px;
  }

  #name h1 {
    color: #333;
    font-size: 45px;
    font-weight: bold;
  }

  #job {
    display: inline-block;
    height: 40px;
    line-height: 40px;
  }

  .soft-title {
    color: #555;
  }

  #job h3 {
    color: #333;
    font-size: 28px;
  }

  #social {
    display: none;
  }

  .section-title {
    display: inline-block;
    width: calc(100% - 48px);
    padding: 0 2px 0 48px;
    margin: 20px 0;
    color: #333;
    font-size: 30px;
    background-repeat: no-repeat;
    background-position: left center;
  }

  #skills-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #skills-outter {
    display: none;
  }

  .skills-title {
    background-image: url('/images/block2black.png');
  }

  .skills-category {
    width: 29%;
    padding: 2%;
    display: flex;
    flex-direction: column;
  }

  .skills-category h4 {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: 24px;
  }

  .skills-category ul {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    margin: 0;
    list-style: outside none;
  }

  .skills-category li {
    display: inline-block;
    width: 100%;
    height: 15px;
    line-height: 15px;
  }

  .level {
    display: inline-block;
    height: 8px;
    border-top: 1px #666 solid;
  }

  .level-yellow {
    background-color: #f2a60c;
  }

  .level-red {
    background-color: #c71414;
  }

  .level-blue {
    background-color: #074987;
  }

  .level-white {
    background-color: #fffcfc;
  }

  .level-black {
    background-color: #0a0a0a;
  }

  .level-5 {
    width: 120px;
    margin: 5px 10px 0 calc(50% - 120px);
  }

  .level-4 {
    width: 96px;
    margin: 5px 10px 0 calc(50% - 96px);
  }

  .level-3 {
    width: 72px;
    margin: 5px 10px 0 calc(50% - 72px);
  }

  .level-2 {
    width: 48px;
    margin: 5px 10px 0 calc(50% - 48px);
  }

  .level-1 {
    width: 24px;
    margin: 5px 10px 0 calc(50% - 24px);
  }

  #curriculum {
    display: flex;
    flex-direction: column;
    color: #333;
    font-size: 0.9em;
    text-align: justify;
  }

  .intro-title {
    background-image: url('/images/block2blue.png');
  }

  .jobs-title {
    background-image: url('/images/block2yellow.png');
  }

  .education-title {
    background-image: url('/images/block2red.png');
  }

  .misc-title {
    background-image: url('/images/block2blue.png');
  }
}